.about {
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;

  overflow: hidden;
}

.about__title {
  @include h2(27px);
}

.about__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 15px;
  padding-right: 15px;
}

.about__item {
  position: relative;

  margin: 0 19px;
  width: calc(25% - 38px);
  padding-top: 52px;

  text-align: center;

  &:nth-child(1)::before,
  &:nth-child(2)::before,
  &:nth-child(3)::before,
  &:nth-child(4)::before {
    position: absolute;
    top: 21px;
    left: 50%;

    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: $green;

    transform: translateX(-50%);
  }

  &:nth-child(1)::before {
    content: "01";
  }

  &:nth-child(2)::before {
    content: "02";
  }

  &:nth-child(3)::before {
    content: "03";
  }

  &:nth-child(4)::before {
    content: "04";
  }
}

@media (max-width: 1023px) {
  .about {
    padding-top: 70px;
    padding-bottom: 45px;
  }

  .about__title {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 41px;
  }

  .about__list {
    padding: 0 100px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .about__item {
    margin: 0 15px;
    width: calc(50% - 30px);
  }

  .about__item p {
    max-width: 263px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .about__list {
    display: block;
    padding: 0 30px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__item {
    width: auto;

    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before {

      top: 3px;
    }
  }

  .about__item p {
    max-width: auto;
    margin: 0 auto 36px;

    font-size: 18px;
    letter-spacing: -0.5px;
  }
}
