.about {
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;

  overflow: hidden;
}

.about__title {
  @include h2(50px);
}

.about__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 15px;
  padding-right: 15px;

  counter-reset: list-counter;
}

.about__item {
  position: relative;

  margin: 0 19px;
  width: calc(25% - 38px);

  counter-increment: list-counter;
  text-align: center;

  &::before {
    content: "0" counter(list-counter);

    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: $green;
  }
}

.about__item p {
  margin: 0;
  padding-top: 13px;

  letter-spacing: -0.3px;
}

@media (max-width: $tablet-width) {
  .about {
    padding-top: 68px;
    padding-bottom: 45px;
  }

  .about__title {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 41px;
  }

  .about__list {
    padding: 0 100px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .about__item {
    margin: 0 15px;
    width: calc(50% - 30px);
  }

  .about__item p {
    max-width: 263px;
    margin-top: 17px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-top: 70px;
  }

  .about__list {
    display: block;
    padding: 0 30px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__item {
    width: auto;

    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before {

      top: 3px;
    }
  }

  .about__item p {
    margin: 0 auto 36px;

    font-size: 18px;
    letter-spacing: -0.5px;
  }
}
