.contacts {
  padding-top: 146px;
}

.contacts__title {
  @include h2(30px);

  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
}

.contacts__text {
  width: 555px;
  margin: 0 auto 40px;
  padding-right: 15px;

  font-size: 17px;
  line-height: 31px;
  color: rgba(#000000, 0.7);
  text-align: center;
}

.contacts__wrap-img {
  width: 957px;
  margin: 0 auto;
}

.contacts__wrap-img img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 63px;
  }

  .contacts__title {
    margin-bottom: 20px;
    padding: 0;

    font-size: 24px;
  }

  .contacts__text {
    width: auto;
    margin-bottom: 20px;
    padding: 0;
  }

  .contacts__wrap-img {
    width: 91%;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding-top: 62px;
  }

  .contacts__title {
    font-size: 18px;
  }

  .contacts__wrap-img {
    width: 100%;
  }

  .contacts__text {
    padding: 0 25px;
  }
}
