.contacts {
  padding-top: 145px;
}

.contacts__title {
  @include h2(30px);

  width: 235px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__text {

  width: 555px;
  margin: 0 auto 40px;

  font-size: 17px;
  line-height: 31px;
  color: rgba(#000000, 0.7);
  text-align: center;
}

.contacts__wrap-img {
  width: 957px;
  margin: 0 auto;
}

.contacts__wrap-img img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1023px) {
  .contacts {
    padding-top: 70px;
  }

  .contacts__title {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .contacts__text {
    width: auto;
    margin-bottom: 20px;
  }

  .contacts__wrap-img {
    width: 91%;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding-top: 62px;
  }

  .contacts__title {
    font-size: 18px;
  }

  .contacts__wrap-img {
    width: 100%;
  }

  .contacts__text {
    padding: 0 25px;
  }
}
