.form {
  width: 327px;
}

.form__title {
  margin: 18px 0 18px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $bg;
  text-align: center;
}

.form input {
  width: 100%;
  margin-bottom: 19px;
  padding: 13px 28px 10px;

  font-size: 15px;
  line-height: 24px;

  border: 1px solid #c9ccd4;
  border-radius: 4px;
}

.form input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(#1c1c1c, 0.5);
}

.form button {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 15px;

  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  background: none;
  border: none;
  background-color: $green;
  border-radius: 6px;

  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .form {
    width: 323px;
  }

  .form__title {
    margin-bottom: 30px;

    font-size: 18px;
    color: $text;
    letter-spacing: -0.3px;
  }

  .form input {
    padding: 9px 21px 13px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: 288px;
  }

  .form__title {
    margin-bottom: 20px;
  }

  .form button {
    padding-top: 14px;
  }
}
