.header {
  position: absolute;


  width: 100%;
  padding-top: 18px;
}

.header__logo {
  position: absolute;
  top: 300px;
  left: -5px;
}

.header__logo img {
  display: block;
}

.header__nav {
  position: relative;
  max-width: 874px;
  margin: 0 auto;

  border-bottom: 2px solid rgba(#ffffff, 0.2);
}

.header__toggle {
  display: none;
}

@media (max-width: 1023px) {
  .header {
    padding: 0;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    border: none;
  }

  .header__logo {
    position: static;
    padding-top: 25px;
    padding-left: 21px;
    padding-bottom: 5px;
  }

  // Кнопка раскрытия меню
  .header--static {
    position: static;
  }

  .logo--close {
    display: none;
  }

  .header__nav--close .header__menu {
    display: none;
  }

  .header__nav--close .header__toggle {
    position: relative;

    display: block;

    width: 50px;
    height: 50px;

    background: none;
    border: none;
    background-color: $green;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: 18px;
      left: 14px;

      width: 22.5px;
      height: 2px;

      background-color: $text;

      box-shadow: 0 6px 0 0.1px $text,
        0 12px 0 0.1px $text;
    }
  }

  .header__nav--open .header__toggle {
    position: absolute;
    right: 0;

    display: block;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 23px;
      right: 10px;

      width: 30px;
      height: 3px;

      background-color: rgba(20, 21, 23, 0.2);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  //  No JS
  .header--nojs .header__logo {
    display: none;
  }

  .header--nojs .header__toggle {
    display: none;
  }

  .header--nojs .header__menu {
    display: block;
  }

  .header--nojs {
    position: static;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding-left: 18px;
  }
}
