.promo {
  padding-top: 21.2%;
  padding-bottom: 16.7%;

  background-image: url("../img/bg-promo1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #1e1e1e;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-promo2x.jpg");
  }
}

.promo__wrap {
  display: flex;
  justify-content: space-between;

  max-width: 880px;
  margin: 0 auto;
}

.promo__wrap-text {
  max-width: 380px;
}

.promo__title {
  margin-top: 63px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $bg;
}

.promo__text {
  margin: 0;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba($bg, 0.8);
}

@media (max-width: $tablet-width) {
  .promo {
    padding-top: 17.5%;
    // padding-top: 12%;
    padding-bottom: 0;

    background-image: url("../img/bg-promo-tablet1x.jpg");
    background-color: transparent;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-promo-tablet2x.jpg");
    }
  }

  .promo__wrap {
    display: block;
  }

  .promo__wrap-text {
    max-width: 410px;
    margin: 0 auto;

    text-align: center;
  }

  .promo__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
  }

  .promo__text {
    font-size: 18px;
  }

  .promo__wrap-form {
    margin: 19.5% auto 0;
  }
}

@media (max-width: $mobile-width) {
  .promo__wrap-text {
    margin-bottom: 140px;
  }
}

@media (max-width: 460px) {
  .promo {
    padding: 0 15px;
    padding-top: 120px;

    // background-size: auto auto;
    background-image: url("../img/bg-promo-mobile1x.jpg");
    background-size: 100% auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-promo-mobile2x.jpg");
    }
  }

  .promo__wrap-text {
    margin-bottom: 70%;
  }
}

@media (max-width: 370px) {
  .promo__wrap-text {
    margin-bottom: 48%;
  }
}
