.video {
  position: relative;

  padding-top: 122px;
  padding-bottom: 480px;

  background-color: #131314;
}

.video__title {
  @include h2(20px);

  width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  color: $bg;
}

.video__text {
  width: 340px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($bg, 0.7);
  text-align: center;
}

.video__item {
  position: absolute;
  top: 285px;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
}
