//! Цвета
$bg: #ffffff;
$text: #000000;
$black: #1f1f1f;
$green: #0ad9c6;

// Адаптивность
$tablet-width: 1023px;
$mobile-width: 767px;
$small-width: 576px;
$extra-small-width: 360px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
